.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:300px;
    gap:10px;
}
.whole-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.pokemon-details-name{
    letter-spacing: 0.5cap;
    font-weight: bold;
    font-size: 30px;
}
.weight{
    font-size: 18px;
    font-weight: bold;
}
.height{
    font-size: 18px;
    font-weight: bold;
}
.types{
    display:flex;
    gap:20px;
}
.get1{
    padding: 8px;
    background-color: #dbd5d5;
    color:black;
    border-radius: 5px;
    cursor: pointer;
}
.pokemon-details-image{
    width:200px;
   display: flex;
   justify-content: center;
}
.samePokemon-wrap{
    font-weight: bold;
    font-size: 18px;
    margin-top:12px;
}

